@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  --green-100: rgba(113, 172, 128, 1);
  --green-200: rgba(58, 128, 99, 1);
  --green-300: rgba(30, 66, 54, 1);
  --white: rgba(255, 255, 255, 1);
  --grey-100: rgba(244, 244, 246, 1);
  --grey-300: rgba(230, 230, 233, 1);
  --grey-500: rgba(153, 153, 161, 1);
  --grey-700: rgba(102, 102, 110, 1);
  --grey-900: rgba(42, 42, 42, 1);
  --ivory: rgba(234, 233, 213, 1);
  --begie: rgba(196, 182, 135, 1);
  --shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  --d: 0px 2.485882520675659px 24.85882568359375px 0px rgba(188, 179, 207, 0.2);
}
